body{
    background-color: hwb(126 63% 25%);
}
#PicContainer{
    display: flex;
    width: 500px;
    height: 450px;
    object-fit: cover;
    gap: 15px;
}

.PicBox{
    object-fit: contain;
}

.GEN{
    padding: 10px;
    font-size: 3rem;
    border: none;
    background-color: hsl(271, 76%, 70%);
    border-radius: 10%;
    transition: 0.5s;
    margin-bottom: 20px;
}

.GEN:hover{
    transform: scale(1.01);
    background-color: hsl(271, 76%, 80%);
}

.GEN:active{
    transform: scale(0.8);
    background-color: hsl(271, 76%, 50%);
}